.my-calendar {
  width: 100vw;
}

.day-tile {
  height: 93px;
  color: black;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  position: static;
  top: 0;
  left: 0;
  padding: 0 3px;
}
